/* Colors */
$color-background: #003366;
$color-title: #e6e6e6;
$color-page: #f2f2f2;
$color-box: #0abf13;
$color-line: #7ccdeb;
$color-btn: #f21818;

/* Fonts */
$font-title: 'Lobster', cursive;
$font-page: 'Nanum Pen Script', cursive;

